venv/
.idea
.DS_Store
*logs
*.pyc
.git
*.zip
.vscode
tmp/
log*
nohup*
.history
.idea
*.iws
*.iml
*.ipr
*.gradle
*gradlew
*gradlew.bat
*/gradle
*/target
*/build
.ipynb_checkpoints
/k_share/tf/tf115/tf_dataset/
